.DisplayImg{
    height: 50vh;
    object-fit: cover;
    width: 100%;
}
.Font-Design{
font-family: "Story Script", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  font-size: 2rem;
  background:linear-gradient(to right,green,white,white,white);
  color: white;
  padding-left: 10px;
}
.badgeDesign{
  color: rgb(255, 255, 255);
  margin-left: 0.8rem;  
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  font-weight: bold;
}
.CarouselDesn{
  border-radius: 0.5rem;
  height: 60vh;
  width: 100%;
  object-fit: cover;
}
.LeftcaptionDesign{
  text-align: left;
  position: absolute;
  top: 30%;
}
.RightcaptionDesign{
  display: flex;
  justify-content: end;
  text-align: left;
  position: absolute;
  padding-left: 20vh;
  top: 20%;
}
.RightcaptionDesignIce{
  display: flex;
  justify-content: end;
  text-align: left;
  position: absolute;
  padding-left: 20vh;
  top: 30%;
}
.containerEdit{
 width: 50%;
}
.containerEditIce{
  width: 50%;
}
.lastImg{
  width: 100%;
  height: 60vh;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-bottom: 0;
}
.lastImgHeading1{
  font-size: xx-large;
}
.lastImgPara{
  font-size: large;
}
.lastImgButton{
  font-size: medium;
}

@media (max-width: 768px) {
.LeftcaptionDesign{
  text-align: left;
  position: absolute;
  top: 15%;
}
.RightcaptionDesign{
  display: flex;
  justify-content: end;
  text-align: left;
  position: absolute;
  padding-left: 0vh;
  top: 15%;
}
.CarouselDesn{
  height: 30vh;
  width: 100%;
  object-fit: cover;
}
.RightcaptionDesignIce{
  display: flex;
  justify-content: end;
  text-align: left;
  position: absolute;
  padding-left: 20vh;
  top: 15%;
}
.containerEdit{
 width: 70%;
}
.containerEditIce{
  width: 90%;
}
.heading2{
  font-size: 10px;
}
.paradesign{
  font-size: 8px;
}
.buttonDesign{
  font-size: 7px;
  height: 3vh;
}
.lastImg{
  width: 100%;
  height: 30vh;
  object-fit: cover;
}
.lastImgHeading1{
  font-size: large;
}
.lastImgPara{
  font-size: small;
}
.lastImgButton{
  font-size: small;
}
}
