.mainContainer {
  min-height: 100vh;
  padding: 7rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  font-family: "Story Script", sans-serif;
}

.rowDesign {
  display: flex;
  gap: 3rem;
  width: 100%;
  max-width: 1350px;
}

.infoImage {
  flex: 1.4;
  width: 100%;
  min-height: 60vh;
  max-height: 60vh;
  object-fit: cover;
  border-radius: 2rem;
  box-shadow: 2px 2px 30px grey;
}

.descriptionContainer {
  flex: 1;
  text-align: left;
}

.heading1 {
  font-weight: 600;
  font-size: 3.2rem;
  margin-bottom: 1.2rem;
}

.paragraph {
  font-weight: 300;
  font-size: 1.3rem;
}
.chipContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  margin-top: 1rem;
}
.chip {
  background: #e9e9e9;
  padding: 8px 18px;
  border-radius: 999px;
  font-size: 1.1rem;
  font-weight: 400;
}
.smallContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  font-size: 1.2rem;
  font-weight: 500;
}
.GoHomeButton {
  margin-top: 2rem;
  font-size: 1rem;
  font-family: "Story Script", sans-serif;
  margin-bottom: 2rem;
}
.strongDesn{
  font-size: 1.4rem;
}
.suggestedImg{
  width: 100%;
  height: 30vh;
  object-fit: cover;
}
.cardContainer{
  cursor: pointer;
  margin-bottom: 2rem;
  border: none;
}
.cardContainerBody{
  text-align: left;
  font-family: "Story Script", sans-serif;
  padding: 0;
}
.heading2 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1.2rem;
  font-family: "Story Script", sans-serif;
  text-align: left;
}
@media (max-width: 768px) {
  .mainContainer {
    padding: 6rem 1rem 1.5rem;
    min-height: auto;
  }
  .rowDesign {
    flex-direction: column;
    gap: 2rem;
  }

  .infoImage {
  flex: 1.4;
  width: 100%;
  min-height: 40vh;
  max-height: 40vh;
  object-fit: cover;
  border-radius: 2rem;
  box-shadow: 2px 2px 30px grey;
}
  .heading1 {
    font-size: 2.4rem;
  }

  .paragraph {
    font-size: 1.25rem;
  }

  .chip {
    font-size: 1rem;
  }

  .smallContainer {
    font-size: 1.1rem;
  }

  .GoHomeButton {
    font-size: 1.2rem;
  }

}
