.mainContainer {
  padding: 0;
}

.FoodImg {
  width: 100%;
  aspect-ratio: 1/0.7;
  object-fit: cover;
  border-radius: 0.5rem;
  display: block;
}

.foodCard {
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 1px 1px 20px grey;
}

.Font-Design {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.buttonDesign {
  width: 10%;
  border-radius: 0.5rem;
  padding: 0.35rem 1rem;
}

.cartButton{
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.4rem 0.6rem;
}
.infoButton {
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.4rem 0.6rem;
  position: absolute;
  top: 12px;
  right: 12px;
  width: fit-content;
}
.CategoryButton{
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.textDesign{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  gap:1rem
}
@media (max-width: 768px) {
  .mainContainer {
    padding: 1.5rem 0;
  }
  .foodCard {
    min-height: 30vh;
    padding: 0.75rem;
  }

  .buttonDesign {
    font-size: 0.75rem;
    width: 100%;
  }

  .cartButton {
    font-size: 0.7rem;
  }

  .Font-Design {
    font-size: 0.9rem;
  }
.cartButton{
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.4rem 0.6rem;
  margin-top: 0.5rem;
}
}

