.text-Formating-Contact{
  font-family: "Story Script", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.ImgStyle{
  height: 40vh;
  object-fit: cover;  
  border-radius: 2rem;
  margin-top: 6rem;
}
.mainContainer{
  margin-top: 2rem;
}

.formContainer{
  padding:2rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
  text-align: left;
  box-shadow: 1px 1px 5px 1px grey;
}