.mainContainer {
  margin-top: 6rem;
  min-height: 80vh;
  margin-bottom: 3rem;
}
.CartImg {
  height: 70px;
  object-fit: cover;
  border-radius: 0.4rem;
  aspect-ratio: 1/1;

}
.textDecorationH1 {
  font-family: "Story Script", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}
.textDecorationH4 {
  font-family: "Story Script", sans-serif;
  font-weight: 600;
  text-align: center;
  color: grey;
  margin-top: 3rem;
}
.rowContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0.6rem;
  gap:10px
}
.heading5 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
}
.pricepara {
  font-size: 0.8rem;
  margin: 0.2rem 0;
  font-weight: 500;
}
.counterCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  padding-right: 2rem;
}
.CounterNumber {
  font-size: 1rem;
  font-weight: 600;
  padding: 0rem 0.4rem;
}
.incrementTextButton{
  font-size: 0.9rem;
  padding: 0.3rem 0.6rem;
  border-radius: 0.4rem;
}
.DecrementTextButton {
  font-size: 0.9rem;
  padding: 0.3rem 0.6rem;
  border-radius: 0.4rem;
}
@media (max-width: 768px) {
  .CartImg {
    height: 10vh;
  }

  .heading5 {
    font-size: 0.85rem;
  }

  .pricepara {
    font-size: 0.75rem;
  }

  .CounterNumber {
    font-size: 0.9rem;
    margin: 0 0.3rem;
  }

  .incrementTextButton{
    font-size: 1rem;
    padding: 0.3rem 0.7rem;
    width: auto;
  }
  .DecrementTextButton {
    font-size: 1rem;
    padding: 0.3rem 0.7rem;
    width: auto;
  }
}
