.mainContainer {
  margin-top: 6rem;
  padding: 1rem 0;
  min-height: 80vh;
}

.CartImg {
  width: 100%;
  height: 15vh;
  object-fit: cover;
  border-radius: 1rem;
}

.CardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.counterDesign {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.counterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.CounterNumber {
  margin: 0.5rem; 
}

.textDecorationH1 {
  font-family: "Story Script", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
}

.textDecorationH4 {
  font-family: "Story Script", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: grey;
  text-align: center;
}
