.FormDisplay{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.paymentBtn{
    margin-bottom: 1rem;
}
.mainContainer{
    border: none;
}
.selectPaymentDesign{
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.4rem;
}
.selectBank{
     padding: 0.5rem;
    width: 100%;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
}