.mainContaier{
  background-color: #f8f9fa;
  color: #333;
  min-height: 100vh;
}
.Container {
  background-color: #fff;
  padding-top: 7rem;
}

.aboutTitle {
  color: #6c757d;
  font-size: 1rem;
  font-family: "Story Script", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.title {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: "Story Script", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.text {
  color: #6c757d;
  line-height: 1.6;
}

.restrarent_img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: 1rem;
}

.Storytitle{
    font-family: "Story Script", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.CardTitle{
    font-family: "Story Script", sans-serif;
  font-weight: 600;
  font-style: normal;
}